html,
body {
    max-width: 100%;
    overflow-x: hidden;
}

ul {
    margin: 0;
}

.main-screen {
    background-image: url(../ASSETS/main-screen-bg.jpg);
    width: 100vw;
    height: 900px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    nav {
        padding-top: 15px;
        padding-bottom: 15px;
        background: rgba(0, 0, 0, 0.5);
        position: fixed;
        top: 0;
        width: 100%;

        .menubar {
            display: flex;

            .menubar-logo {
                font-family: 'Open Sans', sans-serif;
                font-size: 24px;
                font-weight: 700;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-left: 5%;
            }

            li {
                list-style: none;
                display: flex;
                align-items: center;

                a {
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }

}