.featur {
    background-image: url(../ASSETS/features-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: -1px;
}

.judul p {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    left: 55.52%;
    top: 21%;
    font-size: 28px;
    color: #FFFFFF;
}

.judul h1 {
    position: absolute;
    left: 55.25%;
    margin-top: 17%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 56px;
    color: #FFFFFF;
}

.list1 {
    position: absolute;
    left: 55.52%;
    top: 41%;
}

.list1 .judul-pertama {
    font-size: 24px;
    color: white;
}

.list1 .judul-pertama p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFB548;
}

.list-style .paragraf2 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 4%;
    font-size: 18px;
    color: #FFFFFF;
}

.list-style {
    margin-left: -5.1%;
    margin-top: -3.6%;
}

.list-style p {
    border-left: 2px solid white;
    padding-left: 23px;
    padding-right: 15px;
    padding-top: 25px;
    padding-bottom: 30px;
    position: relative;
    left: -15px;
    top: -10px;
}

li.circle {
    list-style-type: circle;
}

.list-style2 {
    margin-top: -7.3%;
    margin-left: -0.2%;
}

.list1 .judul-kedua {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.list1 .judul-kedua p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFB548;
}

.list-style2 p {
    padding-bottom: 5px;
}

.list1 .judul-ketiga {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

.list1 .judul-ketiga p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #FFB548;
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .judul p {
        font-size: 24px;
        top: 20%;
    }

    .judul h1 {
        position: absolute;
        margin-top: 18%;
        font-size: 51px;
    }

    .list1 {
        position: absolute;
        left: 55.52%;
        top: 37%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .judul h1 {
        left: 55.25%;
        margin-top: 24%;
    }

    .list1 {
        top: 37%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .judul h1 {
        margin-top: 21%;
        left: 39.5%;
    }

    .judul p {
        left: 39.5%;
        margin-top: 14%;
        top: 0%;
    }

    .list1 {
        left: 39.5%;
    }

    .list1 {
        top: 28%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {

    .judul p {
        left: 30%;
        top: 10%;
    }

    .judul h1 {
        left: 30%;
        margin-top: 25%;
    }

    .list1 {
        position: absolute;
        left: 30%;
        top: 26%;
    }
}