.featur {
    background-image: url(../ASSETS/features-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: -10px;
}

.featur .paragraf1 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    left: 55.52%;
    right: 26.29%;
    /* top: 26.96%; */
    top: 31%;
    bottom: 70.16%;
    font-size: 24px;
    color: #FFFFFF;
}

.featur h1 {
    position: absolute;
    height: 73.64px;
    left: 55.25%;
    right: 16.22%;
    margin-top: 22%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 56px;
    color: #FFFFFF;
}

.featur .judul-pertama {
    position: absolute;
    height: 73.64px;
    left: 55.25%;
    right: 16.22%;
    margin-top: 30.5%;
    margin-left: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFB548;
}

.featur .paragraf2 {
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    left: 55.52%;
    right: 26.29%;
    margin-top: 33.5%;
    margin-left: 4%;
    font-size: 14px;
    color: #FFFFFF;
}

.featur .judul-kedua {
    position: absolute;
    height: 73.64px;
    left: 55.25%;
    right: 16.22%;
    margin-top: 40.8%;
    margin-left: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFB548;
}

.featur .judul-ketiga {
    position: absolute;
    height: 73.64px;
    left: 55.25%;
    right: 16.22%;
    margin-top: 46.2%;
    margin-left: 4%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #FFB548;
}

li.circle {
    list-style-type: circle;
    margin-top: -35px;
}

.list-style p {
    border-left: 1px solid white;
    padding: 15px;
    position: relative;
    left: -15px;
    top: -10px;
    padding-bottom: -15px;
}