.pilihan-game {
    background-image: url(../ASSETS/pilihan-game-bg.jpg);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;


    .kiri {
        width: 35%;
        margin-bottom: 22%;
        margin-left: 10%;

        p {
            font-size: 28px;
            color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
        }

        h1 {
            font-size: 64px;
            color: #FFFFFF;
            font-family: Arial, Helvetica, sans-serif;
            font-weight: 400;
        }
    }

    .kanan {
        width: 60%;
        justify-content: center;
        align-items: center;
        margin-right: 10%;

    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    .pilihan-game .kiri h1 {
        font-size: 55px;
    }

    .pilihan-game .kiri p {
        font-size: 24px;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .pilihan-game .kiri h1 {
        font-size: 45px;
    }

    .pilihan-game .kiri p {
        font-size: 22px;
        margin: 0;
        margin-bottom: 5px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .pilihan-game .kiri h1 {
        font-size: 34px;
    }

    .pilihan-game .kiri p {
        font-size: 18px;
        margin: 0;
        margin-bottom: 3px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px) {
    .pilihan-game .kiri h1 {
        font-size: 26px;
    }

    .pilihan-game .kiri p {
        font-size: 13px;
        margin: 0;
        margin-bottom: 3px;
    }
}